@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
  -moz-transform-origin: unset !important;
  -webkit-transform-origin: unset !important;
  -o-transform-origin: unset !important;
  -ms-transform-origin: unset !important;
  transform-origin: unset !important;
}
body {
  background-color: #000;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  flex-wrap: nowrap;
}

.heading-off {
  display: none;
}
.section {
  display: none;
}

.logotyp {
  color: rgba(175, 203, 255, 0.721);
  font-family: 'Megrim', cursive;
  font-size: calc(10rem + 5vw);
  font-weight: 700;
  transition: 0.5s;
}

.logotyp:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.logotyp-box {
  height: 100%;
  position: relative;
  padding-left: 5%;
}

.navbar-brand {
  font-family: 'Megrim', cursive;
}

.main-theme-half {
  height: 50%;
  width: 100%;
  padding: 10px;
}
.main-theme-half--lower {
  position: absolute;
  bottom: 5%;
}

h1 span {
  transition: 0.7s;
}

h1:hover {
  cursor: pointer;
}
h1:hover span {
  color: rgba(175, 203, 255, 0.721);
  text-shadow: 90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4),
    90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4);
}

.quote_text,
.about_text,
.contact_text {
  width: 65%;
  color: rgb(155, 170, 218);
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Reem Kufi', sans-serif;
  font-size: calc(0.3rem + 0.8vw);
  align-self: flex-end;
}
.quote_text .qspan {
  color: rgb(119, 157, 245);
}
.quote_source {
  font-size: calc(0.2rem + 0.5vw);
  color: rgb(87, 105, 159);
}

.contact-col {
  padding-top: 20px;
  color: rgba(175, 203, 255, 0.721);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.email a {
  color: rgb(70, 84, 126);
  transition: 0.5s;
}
.email a:hover {
  color: rgba(175, 203, 255, 0.721);
}

.fas {
  font-size: 30px;
  color: rgba(175, 203, 255, 0.721);
  text-justify: center;
  padding: 20px;
}

#text h1 {
  opacity: 0.9;
}

/* blog section */
.blog {
  height: 80vh;
  width: 90vw;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 10, 35, 0.6);
}

.blog-content {
  color: rgba(175, 203, 255, 0.721);
  padding: 20px;
}

/* STARS DIV */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

/* mask gradient */

.mask-shadow {
  position: absolute;
  bottom: 0;
  display: inline-block;
  flex-wrap: nowrap;
  z-index: -2;
  padding: 0;
}

.mask-shadow img {
  max-width: 100%;
}

.mask-shadow-left {
  float: left;
}
.mask-shadow-right {
  float: right;
}

.mask-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(7, 20, 38);
  background: -moz-radial-gradient(
    top,
    ellipse cover,
    hsl(222.86, 100%, 15.1%) 0%,
    hsl(222.07, 98.68%, 15.88%) 4.6%,
    hsl(220.97, 96.89%, 17.08%) 9.7%,
    hsl(219.7, 94.9%, 18.65%) 15.2%,
    hsl(218.38, 92.92%, 20.53%) 21.1%,
    hsl(217.09, 91.07%, 22.67%) 27.3%,
    hsl(215.89, 89.4%, 25%) 33.8%,
    hsl(214.8, 87.95%, 27.48%) 40.5%,
    hsl(213.83, 86.69%, 30.05%) 47.5%,
    hsl(212.98, 85.62%, 32.65%) 54.7%,
    hsl(212.25, 84.71%, 35.23%) 62.1%,
    hsl(211.62, 83.95%, 37.74%) 69.6%,
    hsl(211.09, 83.32%, 40.11%) 77.1%,
    hsl(210.65, 82.8%, 42.29%) 84.7%,
    hsl(210.28, 82.38%, 44.24%) 92.4%,
    hsl(210, 82.05%, 45.88%) 100%
  );
  background: -webkit-radial-gradient(
    top,
    ellipse cover,
    hsl(222.86, 100%, 15.1%) 0%,
    rgb(6, 26, 78) 4.6%,
    hsl(220.97, 96.89%, 17.08%) 9.7%,
    hsl(219.7, 94.9%, 18.65%) 15.2%,
    hsl(218.38, 92.92%, 20.53%) 21.1%,
    hsl(217.09, 91.07%, 22.67%) 27.3%,
    hsl(215.89, 89.4%, 25%) 33.8%,
    hsl(214.8, 87.95%, 27.48%) 40.5%,
    hsl(213.83, 86.69%, 30.05%) 47.5%,
    hsl(212.98, 85.62%, 32.65%) 54.7%,
    hsl(212.25, 84.71%, 35.23%) 62.1%,
    hsl(211.62, 83.95%, 37.74%) 69.6%,
    hsl(211.09, 83.32%, 40.11%) 77.1%,
    hsl(210.65, 82.8%, 42.29%) 84.7%,
    hsl(210.28, 82.38%, 44.24%) 92.4%,
    hsl(210, 82.05%, 45.88%) 100%
  );
  background: radial-gradient(
    ellipse at top,
    hsl(222.86, 100%, 15.1%) 0%,
    hsl(222.07, 98.68%, 15.88%) 4.6%,
    hsl(220.97, 96.89%, 17.08%) 9.7%,
    hsl(219.7, 94.9%, 18.65%) 15.2%,
    hsl(218.38, 92.92%, 20.53%) 21.1%,
    hsl(217.09, 91.07%, 22.67%) 27.3%,
    hsl(215.89, 89.4%, 25%) 33.8%,
    hsl(214.8, 87.95%, 27.48%) 40.5%,
    hsl(213.83, 86.69%, 30.05%) 47.5%,
    hsl(212.98, 85.62%, 32.65%) 54.7%,
    hsl(212.25, 84.71%, 35.23%) 62.1%,
    hsl(211.62, 83.95%, 37.74%) 69.6%,
    hsl(211.09, 83.32%, 40.11%) 77.1%,
    hsl(210.65, 82.8%, 42.29%) 84.7%,
    hsl(210.28, 82.38%, 44.24%) 92.4%,
    hsl(210, 82.05%, 45.88%) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071426', endColorstr='#f2e582',GradientType=1 );
  opacity: 0.3;
  z-index: -2;
  -webkit-animation: dusk 50s ease infinite alternate;
  -moz-animation: dusk 50s ease infinite alternate;
  animation: dusk 50s ease infinite alternate;
}

@-moz-keyframes dusk {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes dusk {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.55;
  }
}
@keyframes dusk {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.55;
  }
}

.sky {
  height: 90%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -5;
}
.stars {
  height: calc(100% + 50vh);
  width: calc(100% + 50vh);
  border-radius: 50%;
  background-image: url(../img/stars.png);

  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-animation: spin 150s linear infinite;
  -moz-animation: spin 150s linear infinite;
  animation: spin 150s linear infinite;
  z-index: -2;
}

.constelation-svg {
  position: absolute;
  top: 10;
  height: 60%;
  width: 60%;
  align-items: center;
  justify-content: center;
  -webkit-animation: spin 200s linear infinite;
  -moz-animation: spin 200s linear infinite;
  animation: spin 200s linear infinite;
  z-index: -3;
  opacity: 0.5;
}

svg {
  max-width: 100vw;
  max-height: 100vh;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.square {
  height: 100px;
  width: 100px;
  background-color: brown;
  position: relative;
}

.twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  backface-visibility: visible;
  z-index: -3;
  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite;
}

#path {
  stroke-dasharray: 1500;
  -webkit-animation: dash 10s linear forwards;
  -moz-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
}

@-webkit-keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1500;
    stroke-width: 1;
  }
  70% {
    stroke-width: 1;
  }
  80% {
    stroke-width: 1;
  }
  90% {
    stroke-width: 1;
  }
  100% {
    stroke-width: 1;
  }
}

/* CONSTELATION ANIMATION*/

.animation {
  stroke-dasharray: 1500;
  animation: dash 10s ease-out;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1500;
    stroke-width: 1;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    stroke-width: 1;
  }
  80% {
    stroke-width: 1;
    opacity: 0.8;
  }
  90% {
    stroke-width: 1;
    opacity: 0.6;
  }

  95% {
    opacity: 0.3;
  }

  97% {
    opacity: 0.2;
  }

  100% {
    stroke-width: 0;
    opacity: 0;
  }
}

/* RESPONSIVE  */
@media (max-width: 650px) {
  .quote_text,
  .contact_text,
  .about_text {
    width: 100%;
    font-size: calc(0.8rem + 0.8vw);
  }
  .main-theme-half--upper {
    height: 40%;
  }

  .main-theme-half--lower {
    margin-top: 30px;
    padding-top: 30px;
  }

  .contact-col-adress {
    display: inline-block;
  }
  .fas {
    font-size: calc(0.5rem + 1.5vw);
  }
  .blockquote {
    align-self: flex-start;
    /* padding-top: 15%; */
  }
  .main-theme-half {
    position: relative;
  }
  .logotyp {
    font-size: calc(10rem + 5vw);
  }

  .mask-gradient {
    background: -moz-radial-gradient(
      top,
      circle cover,
      rgb(7, 20, 38) 45%,
      rgb(20, 63, 111) 66%,
      rgb(30, 87, 153) 76%,
      rgb(32, 124, 202) 86%,
      rgb(242, 229, 130) 100%
    );
    background: -webkit-radial-gradient(
      top,
      circle cover,
      rgb(7, 20, 38) 45%,
      rgb(20, 63, 111) 66%,
      rgb(30, 87, 153) 76%,
      rgb(32, 124, 202) 86%,
      rgb(242, 229, 130) 100%
    );
    background: radial-gradient(
      circle at top,
      rgb(7, 20, 38) 45%,
      rgb(20, 63, 111) 66%,
      rgb(30, 87, 153) 76%,
      rgb(32, 124, 202) 86%,
      rgb(242, 229, 130) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071426', endColorstr='#f2e582',GradientType=1 );
    opacity: 0.3;
    z-index: -2;
    -webkit-animation: dusk 50s ease infinite alternate;
    -moz-animation: dusk 50s ease infinite alternate;
    animation: dusk 50s ease infinite alternate;
  }
}
