@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
body {
  background-color: #000;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  flex-wrap: nowrap;
  overflow: hidden;
}

.heading-off {
  display: none;
}

.logotyp {
  color: rgba(175, 203, 255, 0.721);
  font-family: 'Megrim', cursive;
  font-size: calc(16rem + 5vw);
  font-weight: 700;
  transition: 0.5s;
}

.logotyp:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.logotyp-box {
  height: 100%;
}

.navbar-brand {
  font-family: 'Megrim', cursive;
}

.main-theme-half {
  height: 50%;
  width: 100%;
  padding: 10px;
}

.main-theme-half--upper {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: -4;
}
.main-theme-half--lower {
  position: absolute;
  bottom: 5%;
}

h1 span {
  transition: 0.7s;
}

h1:hover {
  cursor: pointer;
}
h1:hover span {
  color: rgba(175, 203, 255, 0.721);
  text-shadow: 90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4),
    90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4);
}

.quote_text,
.about_text,
.contact_text {
  width: 65%;
  color: rgb(132, 145, 186);
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Reem Kufi', sans-serif;
  font-size: calc(0.3rem + 0.8vw);
  align-self: flex-end;
}
.quote span {
  color: rgb(197, 197, 197);
}
.quote_source {
  font-size: calc(0.2rem + 0.5vw);
  color: rgb(87, 105, 159);
}

.contact-col {
  padding-top: 20px;
  color: rgba(175, 203, 255, 0.721);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.email a {
  color: rgb(87, 105, 159);
  transition: 0.5s;
}
.email a:hover {
  color: rgba(175, 203, 255, 0.721);
}

.fas {
  font-size: 30px;
  color: rgba(175, 203, 255, 0.721);
  text-justify: center;
  padding: 20px;
}

#text h1 {
  opacity: 0.9;
}

/* STARS DIV */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.mask-shadow {
  position: absolute;
  bottom: 0;
  display: inline-block;
  flex-wrap: nowrap;
  z-index: -2;
  padding: 0;
}

.mask-shadow img {
  max-width: 100%;
}
.mask-shadow-center {
  align-self: flex-end;
}

.mask-shadow-left {
  justify-self: flex-start;
  align-self: flex-end;
}
.mask-shadow-right {
  justify-self: flex-end;
  align-self: flex-end;
}

.mask-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background: rgb(1, 8, 36);
  background: radial-gradient(
    at 40% -10%,
    rgba(1, 8, 36, 1) 21%,
    rgba(10, 19, 59, 1) 46%,
    rgba(11, 20, 61, 1) 48%,
    rgba(30, 51, 138, 1) 100%
  );
  opacity: 0.5;
  z-index: -2;
}

.stars {
  background: #000 url(../img/stars.png) repeat center center;
  z-index: -6;
}
.twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  backface-visibility: visible;
  z-index: -3;
  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite;
}

/* media  */
@media (max-width: 650px) {
  .quote_text,
  .about_text {
    width: 100%;
  }
  .main-theme-half--upper {
    height: 40%;
  }

  .main-theme-half--lower {
    margin-top: 30px;
    padding-top: 30px;
  }

  .contact-col-adress {
    display: inline-block;
  }
  .fas {
    font-size: calc(0.5rem + 1.5vw);
  }
}
